.clear
  clear: both
.container.site
  padding: 0px
  border: 1px solid  
  min-height: 1000px
.box-product
  .product
    border: 1px solid
    padding: 20px
    margin-bottom: 20px    
    .product-image
      text-align: center
      img
        height: auto
        width: auto
        max-height: 200px
        max-width: 200px
        min-height: 200px
    .product-name
      min-height: 60px
.categories
  border: 1px solid    
  border-bottom: 0px 
  p
    padding: 20px
    background: aliceblue
    margin-bottom: 0px
    text-transform: uppercase
    border-bottom: 1px solid
  .category_sidebar
    .category
      ul
        list-style: none
        padding: 0px
        li
          padding: 10px 20px
          border-bottom: 1px solid
          &:hover
            background: beige

.header
  background-color: #d9edf7
  margin-bottom: 20px
  ul
    list-style: none
    display: -webkit-box
    display: -webkit-inline-box  
    margin-bottom: 0px              
    li
      padding: 20px
      &:hover
        background-color: #efefef
.name-user
  padding-left: 10px        

.product-detail
  .image-product
    text-align: center
    img
      width: auto
      height: auto
      max-width: 300px
      max-height: 300px
.cart-header
  margin: 0px
  padding: 0px
  line-height: 0px
  a
    padding: 0px      

.info-order
  li
    display: inherit
    .label
      color: #000
      font-size: 18px
      padding: 0px
      font-weight: 400   

.container.history_order
  padding: 0px
  .box
    padding: 20px 20px 20px
    background: #ff00002b
    margin: 10px 0px
    min-height: 120px
  .box.true
    background: whitesmoke      
    